html {
    font-size: 62.5%;
}

body {
    background: #dff8ec;
    color: #383838;
}

#intro h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 15rem;
}

#intro p {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 1.8rem;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cabinet {
    display: flex;
    justify-content: space-between;
}

#herb_drawer {
    margin: auto;
}

#spice_drawer {
    margin: auto;
}

#herb_press {
    background: #f9f4ce;
    cursor: pointer;
    padding: 0;
    border: none;
}

#spice_press {
    background: #f9f4ce;
    cursor: pointer;
    padding: 0;
    border: none;
}

#herb_rack .option, #spice_rack .option {
    border: 0.1em solid #383838;
    background: #f9f4ce;
    border-radius: 0.5em;
    padding: 1em;
    position: absolute;
    transition: 1s ease-in-out 0s;
}

button .option:nth-child(1) {
    z-index: 10;
}

button:focus .option:nth-child(2) {
    z-index: 9;
    transform: translateY(15em);
}

button:focus .option:nth-child(3) {
    z-index: 8;
    transform: translateY(25em);
}

button:focus .option:nth-child(4) {
    z-index: 7;
    transform: translateY(35em);
}

button:focus .option:nth-child(5) {
    z-index: 6;
    transform: translateY(45em);
}

button:focus .option:nth-child(6) {
    z-index: 5;
    transform: translateY(55em);
}

button:focus .option:nth-child(7) {
    z-index: 4;
    transform: translateY(65em);
}

button:focus .option:nth-child(8) {
    z-index: 3;
    transform: translateY(75em);
}

button:focus .option:nth-child(9) {
    z-index: 2;
    transform: translateY(85em);
}

button:focus .option:nth-child(10) {
    z-index: 1;
    transform: translateY(95em);
}

button:focus .option:nth-child(11) {
    z-index: 1;
    transform: translateY(105em);
}

/* #spice_rack .option:nth-child(1) {
    z-index: 10;
}

#spice_rack .option:nth-child(2) {
    z-index: 9;
}

#spice_rack .option:nth-child(2) {
    z-index: 8;
}

#spice_rack .option:nth-child(2) {
    z-index: 7;
}

#spice_rack .option:nth-child(2) {
    z-index: 6;
}

#spice_rack .option:nth-child(2) {
    z-index: 5;
}

#spice_rack .option:nth-child(2) {
    z-index: 4;
}

#spice_rack .option:nth-child(2) {
    z-index: 3;
}

#spice_rack .option:nth-child(2) {
    z-index: 2;
}

#spice_rack .option:nth-child(2) {
    z-index: 1;
} */

#herb_rack h2, #spice_rack h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 10rem;
}

#herb_rack p, #spice_rack p {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 3rem;
}