html {
    font-size: 62.5%;
}

body {
    background: #dff8ec;
    color: #383838;
}

#intro h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 10rem;
}

#intro p {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 2rem;
}

.accordion-button {
    border: 0.1em solid #383838;
    background: #f9f4ce;
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    font-weight: 400;
}

/* .accordion-button:focus  {
    border-color: none!important;
    box-shadow: none!important;
}

.accordion-button:not(.collapsed) {
    color: none!important;
    background-color: none!important;
} */

/* not removing on-click effects for some reason? no idea */

.accordion-body {
    background-color: #dff8ec;
    border: none;
}

.innerDiv {
    margin-bottom: 0.5em;
}

.accordion-item {
    background-color: #f9f4ce;
}

.accordion-item .img {
    max-width: 10%;
    height: auto;
    margin-left: 60%;
}

.accordion-collapse {
    border: dashed #9C9479 5px;
}

#collapseOne, #collapseTwo {
    border: none;
}

.accordion-collapse p, .accordion-collapse ul {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    margin-left: 0.5em;
}

.accordion-collapse img {
    max-width: 50%;
    height: auto;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    border: dashed #9C9479 5px;
}

#hr_header, #sp_header {
    font-weight: 700;
}
