html {
    font-size: 62.5%;
}

body {
    background: #dff8ec;
    color: #383838;
}

#intro h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 10rem;
}

#intro p {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 2rem;
}

#herbs div {
    background: #f9f4ce;
    margin: auto;
}

#spices div {
    background: #f9f4ce;
    margin: auto;
}

.hr, .sp {
    border: 0.1em solid #383838;
    border-radius: 0.5em;
}

#hr_header, #sp_header {
    font-weight: 700;
}

.hr p, .sp p {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    font-weight: 400;
}